<@charset"UTF-8";>

body {
  font-family: "HiraginoSans-W3","游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;
  margin: 0;
}
header {
 height: 130px;
 width: 100%;
 background-color: black;
 position :fixed;
 top: 0;
 z-index: 10;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
p {
  font-size: 20px;
}
.header-left {
 float: left;
 width: 15%;
 height: 130px;
 display: inline-block;
}
.logo {
  width: 115px;
  height: 115px;
}
.header-right {
 height: 130px;
 width: 17%;
 float: right;
 color: #ffd400;
 padding-right: 10px;
 display: inline-block;
}
.menu{
  float: left;
  color: white;
  list-style: none;
  margin-top: 80px;
  width: 60%;
  display: inline-block;

}
.menu li {
  color: white;
  float: left;
  margin: 5px 20px;
  font-size: 20px;
}
.menu a{
  position: relative;
  display: inline-block;
  transition: .3s;
}
.menu a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #ffd400;
  transition: .3s;
  transform: translateX(-50%);
}
.menu a:hover::after{
  width: 100%;
}
.contents {
  height: 700px;
  padding: 0 50px;
  margin-top: 130px;
}
.title {
  padding-top: 35px;
  border-bottom: solid 3px black;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}
table tr {
  background-color: #fff;
  border-bottom: 2px solid #fff;
}
table tr:nth-child(even){
  background-color: #eee;
}
table th,
table td {
  padding: .35em 1em;
}
table thead th {
    font-size: 15px;
    padding: 1em;
}
table thead tr{
  background-color: black;
  color:#fff;
}
table tbody th {
  text-align: left;
  font-size: 20px;
}
.url{
   text-align: left;
   font-size: 20px;
}
.member{
  text-align: right;
  color: black;
  font-weight: bold;
}

footer {
  height: 160px;
  width: 100%;
  background-color: black;
}
.footer-left {
  display: inline-block;
  float: left;
  height: 115px;
}
.footer-right {
  display: inline-block;
  color: white;
  float: right;
  margin: 10px;
  opacity: 0.7;
}
.f-bottom  {
  float: left;
  color: white;
  opacity: 0.5;
  font-size: 15px;
  width: 100%;
  text-align: center;
  margin: 0;
}
